<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Create new model</h3>
<p>
    <a th:href="@{/}">Back to list</a>
</p>
<form action="#" th:action="@{/create-blog}" th:object="${blog}"
      method="POST">
    <table id="form">
        <tr>
            <th>Name : </th>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></td>
        </tr>
        <tr>
            <th>Topic : </th>
            <td><input type="text" th:field="*{topic}"/></td>
            <td th:if="${#fields.hasErrors('topic')}" th:errors="*{topic}" style="color: red"></td>
        </tr>
        <tr>
            <th>Author : </th>
            <td><input type="text" th:field="*{author}"/></td>
            <td th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color: red"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
<footer th:replace="layout :: footer"></footer>
</body>
</html>