<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h1>Blog</h1>
<a th:href="@{/create-blog}">Create new blog</a>
<table id="blogs">
    <tr>
        <th>Name</th>
        <th>Topic</th>
        <th>Author</th>
        <th></th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td><a th:href="@{/view-blog/__${blog.id}__}" th:text="*{blog.name}"></a></td>
            <td th:text="*{blog.topic}"></td>
            <td th:text="*{blog.author}"></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__}">Delete</a> </td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>
