<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<a th:href="@{/}">Back to blog list</a>
<table id="form">
    <tr>
        <td><h3 th:text="*{blog.name}"></h3></td>
    </tr>
    <tr id="content">
        <td th:text="*{blog.content}"></td>
    </tr>
    <tr>
        <td th:text="*{blog.author}" style="color: darkblue; font-style: italic; text-align: center" >
    </tr>

</table>
<footer th:replace="layout :: footer"></footer>
</body>
</html>
